
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }

#logout {
    position: fixed;
    right: 20px;
    top: 90px;
}

.auth-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.auth-container {
    margin: 10px;
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

.auth-container button {
    margin: 10px;
}

.profile, .all-profiles, .messagetext{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    text-align: center;
    box-shadow: var(--shadow);
}
    

a {
    text-decoration: none;
    color: black;
}

.profile:hover, .all-profiles:hover, .messagetext:hover{
    background-color: palegreen;
    transform: scale(1.1);
    border: none;

}

.container{
    text-align: center;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    min-width: 50vw;
    min-height: 20vh;
    
}

.send-message{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input{
    border-radius: 5px;
}

.inputMessage {
    height: 7vh;
}

button{
    border: 2px solid black;
    border-radius: 5px;
    font-size: large;
    margin-top: 20px;
    background-color: white;
}

button:hover{
    transform: scale(1.1);
    background-color: black;
    color: white;
}

.flex-column {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

main {
    width: 100%;
}

.chatroom {
    width: 90%;
    height: 80vh;
    border: solid 3px red;
    display: grid;
    grid-template-rows: 19fr 1fr;
}

.game{
    width: 90%;
    height: 80vh;
    border: solid 3px red;
    display: grid;
    grid-template-rows: 19fr 1fr;
    position: relative;
}

.input-area input {
    width: 90%;
    border: none;
    text-align: left;
}

.input-area button {
    width: 25%;
    transform: 0;
}

.input-area button:hover {
    width: 25%;
    transform: scale(1.0);
    background-color: black;
    color: white;
}

.input-area2 input {
    width: 90%;
    border: none;
    text-align: left;
}

.input-area2 button {
    width: 100%;
    transform: 0;
}

.input-area2 button:hover {
    width: 100%;
    transform: scale(1.0);
    background-color: black;
    color: white;
}

.input-area2 {
    border-top: dotted 1px black;
    padding: 5px;
}


input:focus {
    outline: none;
    background-color: gold;
}

.input-area {
    border-top: dotted 1px black;
    padding: 5px;
}

.chat-message {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

p {
    margin: 10px;
}

.chat-message .sender {
    color: blue;
    font-family: 1.2rem;
    margin: 0;
}

.is-me {
    border: solid 1px black;
    color: red !important;
}

.player{
    position: absolute;
}

.navigation{
    margin-top: 15px;
}


